* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  background-image: linear-gradient(to bottom, #379683, #5cdb95);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border-radius: 10rem;
}
.search__btn {
  border: none;
  background-color: #ccc;
}
.search__icon {
  height: 2rem;
  width: 2rem;
}
.search__box {
  font-size: 1.5rem;
  color: #000;
  background-color: #ccc;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10em;
  width: 90%;
}
.search__box:focus {
  outline: none;
}
.search__box::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 1.2rem;
}

.user {
  align-self: stretch;
  display: flex;
  align-items: center;
  padding-right: 2rem;
}
.user > * {
  cursor: pointer;
}
.user__icon-container, .user__image-box {
  position: relative;
}
.user__icon-container {
  width: 5rem;
  height: 5rem;
  background-color: #5cdb95;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}
.user__icon {
  width: 3rem;
  height: 3rem;
  fill: #fff;
}
.user__badge {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background-color: #2e1114;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user__image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}
.user__image-box:hover .user__image {
  filter: blur(4px);
}
.user__badge-name {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  opacity: 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.user__image-box:hover .user__badge-name {
  opacity: 1;
  top: 50%;
}

.sidebar-nav {
  font-size: 1.5rem;
}
.sidebar-nav__item {
  position: relative;
}
.sidebar-nav__item:not(:last-child) {
  margin-bottom: 1rem;
}
.sidebar-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.2em;
  background-color: #5cdb95;
  transform: scale(0);
  transition: transform 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.2s;
}
.sidebar-nav__item:hover::before, .sidebar-nav__item--active::before {
  transform: scale(1);
  width: 100%;
}
.sidebar-nav__link {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  z-index: 10;
  transition: all 0.6s;
}
.sidebar-nav__icon {
  width: 2rem;
  height: 2rem;
  fill: #379683;
  transition: all 0.6s;
}
.sidebar-nav__item:hover .sidebar-nav__icon, .sidebar-nav__item--active .sidebar-nav__icon {
  fill: #501b1d;
  z-index: 10;
}
.sidebar-nav__item:hover .sidebar-nav__link, .sidebar-nav__item--active .sidebar-nav__link {
  color: #333;
  z-index: 10;
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 8rem;
}

.sidebar {
  flex: 0 0 20%;
  background-color: #2e1114;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  min-height: 80vh;
}
.sidebar__copyright {
  font-size: 1.4rem;
  text-align: center;
  padding: 1.5rem;
}

.main {
  max-width: 125rem;
  margin: 6rem auto;
  background-color: #ccc;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 1.5em;
}

.content-box {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
