$primary-color:#379683;
$primary-color-2:#5cdb95;

$secondary-color:#501b1d;
$secondary-color-2:#2e1114;

$white-color:#fff;
$dark-color:#000;
$color-grey-1:#333;
$color-grey-2:#ccc;
$yellow-color:#D5AB55;

$border: .5px solid rgba($dark-color, .7);

$box-shadow: rgba(0, 0, 0, 0.25) 0px 5.5em 5.5em, rgba(0, 0, 0, 0.12) 0px -1.2em 3em, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 1.2em 1.3em, rgba(0, 0, 0, 0.09) 0px -3px 5px;