$primary-color:#379683;
$primary-color-2:#5cdb95;

$secondary-color:#501b1d;
$secondary-color-2:#2e1114;

$white-color:#fff;
$dark-color:#000;
$color-grey-1:#333;
$color-grey-2:#ccc;

$border:1px solid $dark-color;