.main{
    max-width: 125rem;
    margin:6rem auto;
    background-color: $color-grey-2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 1.5em;
}

.content-box{
    display:flex;
}

.content{
    flex:1;
}

.detail{
    padding:3rem 5rem;
    display:flex;

    &__description{
        background-color: $white-color;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5.5em 5.5em, rgba(0, 0, 0, 0.12) 0px -1.2em 3em, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 1.2em 1.3em, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        flex:0 0 60%;
        padding:3rem;
    }

    &__reviews{
        flex:1;
    }

    &__comment{
        font-size:1.5rem;
        &:not(:last-child){
            margin-bottom:1rem;
        }
    }

}
