.main{
    max-width: 125rem;
    margin:6rem auto;
    background-color: $color-grey-2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 1.5em;
    position: relative;

    @media only screen and (max-width: 1250px) {
        margin: 0;
        width: 100%;
    }
}

.content-box{
    display:flex;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }
}

.content{
    flex:1;
}

.detail{
    padding:3rem 5rem;
    display:flex;

    @media only screen and (max-width: 960px) {
        flex-direction: column;
        gap:3rem;
    }

    &__description{
        background-color: $white-color;
        box-shadow: $box-shadow;
        flex:0 0 60%;
        padding:3rem;
    }

    &__reviews{
        flex:1;
        margin-left:2rem;

        @media only screen and (max-width: 960px) {
            display: flex;
            gap:3rem;
        }

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__comment{
        font-size:1.5rem;
        &:not(:last-child){
            margin-bottom:1rem;
        }
    }

}
