.main{
    max-width: 125rem;
    margin:6rem auto;
    background-color: $color-grey-2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 1.5em;
}

.content-box{
    display:flex;
}

.content{
    flex:1;
}

.detail{
    padding:3rem 5rem;
    display:flex;

    &__description{
        background-color: $white-color;
        box-shadow: $box-shadow;
        flex:0 0 60%;
        padding:3rem;
    }

    &__reviews{
        flex:1;
        margin-left:2rem;
    }

    &__comment{
        font-size:1.5rem;
        &:not(:last-child){
            margin-bottom:1rem;
        }
    }

}
