.header{
    height:7rem;
    background-color: $white-color;
    border-bottom: $border;
    display:flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 480px) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }

    &__logo{
        width:8rem;
    }


}